@import '../../styles/index.scss';

$cells-padding-left: 2.5rem;
$options-block-size: 2.5rem;

.habits-week-logs {
  display: flex;
  flex-direction: column;
  gap: $gap;
  max-inline-size: 50rem;
  min-inline-size: 0;
  margin-inline: auto;

  border: $border;
  border-radius: $boxes-border-radius;
  padding: $padding;
  background-color: #ffffff;

  .options {
    display: flex;
    align-items: center;
    gap: $gap;
    margin-inline: auto;
    margin-block-start: 2rem;
    max-inline-size: 21rem;
  }
  form input {
    block-size: $options-block-size;
  }
  .CRUD-button {
    inline-size: $options-block-size;
    block-size: $options-block-size;
  }

  table {
    margin-block: 2rem;
    inline-size: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  .week-days {
    color: $text-500;
  }
  thead th {
    padding-block-end: 1rem;
  }
  tbody tr {
    border-bottom: $border;
    &:last-child {
      border-bottom: none;
    }
  }
  tbody td {
    padding-block: 1rem;
    cursor: pointer;

    &:hover {
      background-color: $button-fade;
    }
    &:first-child {
      font-weight: bold !important;
    }
    &:not(:first-child) {
      font-size: 1.25rem;
      color: $text-500;
    }

    &.goal-met {
      background-color: $primary-fade;
      color: $text-100;
    }
    &.goal-not-met {
      color: $text-500;
      background-color: $color-primary-50;
    }
  }
}
