@import '../../index.scss';

$cells-padding-left: 40px;
$options-block-size: 40px;

.habits-week-logs {
  padding: 20px;
  border: $border;
  background-color: #ffffff;
  border-radius: $boxes-border-radius;

  .habit-week-logs-options {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 20px;
    inline-size: 400px;
  }

  form input {
    block-size: $options-block-size;
  }

  .CRUD-button {
    inline-size: $options-block-size;
    block-size: $options-block-size;
  }

  .week-days {
    color: $text-primary-light;
  }

  table {
    inline-size: 70%;
    margin-inline: auto;
    border-collapse: collapse;
  }

  thead th {
    padding: 20px;
    text-align: center;
    font: inherit;
  }

  thead tr:first-child th:not(:first-child) {
    padding-left: $cells-padding-left;
  }

  tbody tr {
    border-bottom: $border;
    &:last-child {
      border-bottom: none;
    }
  }

  tbody td {
    padding: 20px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: $button-fade;
    }
    &:first-child {
      font-weight: bold !important;
    }
    &:not(:first-child) {
      font-size: 1.25rem;
      color: $text-primary-light;
    }
    
    &.goal-met {
      background-color: $primary-fade;
    }
    &.goal-not-met {
      color: $text-primary-light;
      background-color: $color-primary-50;
    }
  }
}
