@import '../../index.scss';

$overlay-color: rgba(0, 0, 0, 0.5);

.clickable-text {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    color: $text-bright-fade;
  }
}

.modal-wrapper-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $overlay-color;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modal-content {
  background-color: $boxes-background;
  padding: 20px;
  border-radius: $boxes-border-radius;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
  inline-size: 100%;
  max-inline-size: 400px;
  position: relative;
}

.modal-header {
  text-align: end;
}

.form-actions {
  text-align: center;
  margin-block-start: 20px;
}
