@import '../../styles/index.scss';

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #191919bd;
  backdrop-filter: blur(10px);
}

.modal-content {
  position: relative;

  max-inline-size: 400px;
  inline-size: 100%;
  border-radius: $boxes-border-radius;
  padding: $padding;
  background-color: #ffffff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.05);
}

.modal-header {
  text-align: end;
}

.form-actions {
  margin-block-start: 1rem;
}
