@import '../../index.scss';

.form-wrapper {
  margin-block-start: 150px;

  h1 {
    text-align: center;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .form-input {
    /* Change autocomplete styles in WebKit */
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: inherit;
      -webkit-box-shadow: 0 0 0px 1000px $website-background inset;
    }
    &[type='password'] {
      letter-spacing: 0.05rem;
    }
  }
}
