/* _________ Variables _________ */
$brand-gray: #e6e3dd;
$primary: #2fac84;
$primary-fade: #248264;

$text-primary: #191917;
$text-primary-light: #8a9590;
$text-bright: #fefefe;
$text-bright-fade: #f7f7f7;

$website-background: #f5f5f5;
$border: 1px solid $brand-gray;
$button-fade: #ededed7d;
$boxes-background: #ffffff;
$boxes-border-radius: 15px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $text-primary;
  background-color: $website-background;
  font-family: 'Playpen Sans Arabic', cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-inline-size: 100%;
}

.page-wrapper {
  margin: 0 auto;
  margin-block-start: 50px;
  inline-size: 1000px;
}

form {
  text-align: center;
  padding: 30px;
}

label {
  color: $text-primary-light;
}

form input,
.form-input,
select {
  inline-size: 300px;
  block-size: 45px;
  border: $border;
  border-radius: 7px;
  padding: 8px 12px;
  background-color: #00000000;
  color: $text-primary-light;
  font-size: 1.15rem;
  font: inherit;
  outline: none;
  align-self: center;

  /* Change autocomplete styles in WebKit */
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: inherit;
    -webkit-box-shadow: 0 0 0px 1000px $website-background inset;
  }
  &[type='password'] {
    letter-spacing: 0.05rem;
  }
}

.CRUD-button {
  inline-size: 45px;
  block-size: 45px;
  border: none;
  border-radius: 50%;
  background-color: #f6f6f6;
  color: inherit;
  font: inherit;
  font-size: 21px;
  text-align: center;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $button-fade;
  }
}
